html {
    box-sizing: border-box;
}
  
*,
*::before,
*::after {
box-sizing: inherit;
}

h1{
    margin:0;
    padding:0
}


.page-list{
    width: 100%;
    margin: 0 auto;
}

.container{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

@media screen and (min-width: 480px) {
    .container {
      width: 480px;
    }
  }
  
  @media screen and (min-width: 768px) {
    .container {
      width: 768px;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .container {
      width: 1200px;
    }
}


.page-list{
    padding-top: 20px;
    padding-bottom: 20px;
}

.page-title{
    text-align: center;
}

.form{
    width: 100%;
    margin-top: 20px;
}

/* .form-input{
    margin-right: 20px;
} */

.list{
    width: 100%;
    margin:0;
    padding:0;
    margin-top: 20px;
}

.list-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.list-text:first-child{
    width: 100px;
}

.is-done{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.is-done .task-title{
    
    text-decoration: line-through;
    color: lightgrey;
}

.list-text{
    margin: 0;
    padding: 0;
}

.form-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.overlay{
    display: none;
}

.overlay.is-open{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1200;
}

.modal{
    width: 50%;
    height: 50%;
    background-color: white;
    display: flex;
    padding: 50px;
    flex-direction: column;
    justify-content: center;
}

.modal .form-input{
    width: 100%;
    height: 30px;
    padding: 0;
    padding-left: 10px;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 10px;
}

.modal .input-label{
    display: block;
    margin-bottom: 14px;
}

.button-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.button{
    border-radius: 10px;
    width: 100px;
    background-color: rosybrown;
    padding: 6px;
}

.filter-wrapper{
    display: none;
}

.filter-wrapper.is-open{
    display: flex;
    margin: 0 auto;
    margin-top: 20px;
    width: 50%;
    justify-content: space-between;
}

.filter-list{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding:0;
    margin:0;
}

.filter-list li{
    width: 150px;
    border: 1px solid grey;
    padding: 5px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-right: 10px;
}

.filter-icon{
    font-size: 20px;
    color: black;
}